* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
img {
    width: 100%;
    padding: 10px 5px;
}
p {
    margin: 0 0 8.5px;
}
.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
h2 {
    margin-top: 32px;
    margin-bottom: 10px;
}
@media (min-width: 765px) {
    .container {
        width: 750px;
    }
img {
    max-width: 600px;
    margin: 0 auto;
}
figure {
    text-align: center;
}
}