* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
img {
    width: 100%;
    padding: 10px 5px;
}
p {
    margin: 0 0 8.5px;
}
.subtitle {
    color: #888;
}
.subtitle a {
    color: #888;
}
.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
h2 {
    margin-top: 32px;
    margin-bottom: 10px;
}
h3 {
    background-color: red;
}
.qrcode div {
    display: flex;
    width: 100%;

}
.qrcode div img {
    margin-right: 30px;
    width: 300px;
    height: 300px;
}
figure p {
    font-size: 30px;
    font-weight: bold;
    align-self: center;
}
.principal-align {
    position: relative;
    bottom: 30px;
}
footer {
    border: solid 2px #ff0000;
    padding: 5px;
}
@media (min-width: 375px){
    .qrcode div {
        display: block;
        text-align: center;
    }
    figure p {
        margin-left: -30px;
    }
}
@media (min-width: 765px) {
    .container {
        width: 750px;
    }
img {
    max-width: 600px;
    margin: 0 auto;
}
}
@media (min-width: 1024px){
    .qrcode div {
        display: flex;
    }
}